doctype html
html(lang='ru')
    head
        title Viola configurator
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/bower_components/angular/angular.min.js')
        script(src='/bower_components/angular-route/angular-route.min.js')
        script(src='/bower_components/angular-resource/angular-resource.min.js')
        script(src='/bower_components/angular-ui-router/release/angular-ui-router.min.js')
        script(src='/public/js/viola_config.min.js')
    body(ng-app="viola")
        nav.navbar.navbar-inverse
            a.navbar-brand(href='/') Viola Configurator
        .container
            .row
                .col-md-2(ui-view="menu")
                    .list-group
                        a.list-group-item(ng-repeat="model in models" ui-sref="main.list({modelname:model})" ui-sref-active="active") {{model}}
                            i.glyphicon.glyphicon-chevron-right.pull-right
                    a.btn.btn-success(ng-click="saveConfig()") Write conf file
                    p {{message}}
                div(ui-view="list")
                    .col-md-2(ng-show="modelName")
                        a.btn.btn-success(ui-sref="main.model({modelname:modelName})")
                            | Добавить
                            span.glyphicon.glyphicon-plus-sign
                        hr
                        .list-group
                            a.list-group-item(ng-repeat="model in models" ui-sref="main.model({modelname:modelName,id:model._id})" ui-sref-active="active") {{model.name}}
                                i.glyphicon.glyphicon-chevron-right.pull-right
                div(ui-view="data")
                    .col-md-10(ng-show="model")
                        h4(ng-if="!new") {{modelName}}
                        h4(ng-if="new") new {{modelName}}
                        form.form.form-horizontal
                            .form-group(ng-repeat="attribute in attributes")
                                div(ng-if="!attribute.value")
                                    label.col-sm-3.control-label(for="{{attribute.name}}" ) {{attribute.name}}
                                    .col-sm-7
                                        input.form-control(
                                        id="{{attribute.name}}"
                                        name="{{attribute.name}}"
                                        type="text"
                                        placeholder="Input {{attribute.name}}"
                                        ng-model="model[attribute.name]"
                                        )
                                div(ng-if="attribute.value")
                                    div(ng-if="attribute.value[0]")
                                        h3 {{attribute.name}}
                                        a.btn.btn-default(ng-click="addRow(attribute.name,attribute.value[0])") add
                                        div.col-sm-12(ng-repeat="row in model[attribute.name]")
                                            div.col-sm-3(ng-repeat="field in getObjectkeys(attribute.value[0])")
                                                input(
                                                ng-model="row[field]"
                                                placeholder="input {{field}}"
                                                )
                                            a.btn.btn-danger(ng-click="delRow(attribute.name,$index)") Del
                            a.btn.btn-primary.col-sm-offset-3(ng-click="save()") Save
                            a.btn.btn-danger(ng-show="!new" ng-click="delete()") delete


